extends layout
block content
     table.table.table-bordered
        tr(align='center')
            td(width='30%')
                a(href='/players') Игроки
                p
                img(src="/img/Players.jpg" height='85%' width='40%')
            td(width='30%')
                a(href='/stadiums') Стадионы
                p
                img(src="/img/Stadiums.jpg" height='85%' width='40%')
            td(width='30%')
                a(href='/coutchs') Тренера
                p
                img(src="/img/Coutchs.jpg" height='15%' width='50%')
