extends layout
block content
     table.table.table-bordered
        tr(align='center')
            td
                a(href='/players') Игроки
                p
                img(src="/img/Action.jpg" height='50%' width='50%')
            td
                a(href='/stadiums') Стадионы
                p
                img(src="/img/Meets.jpg" height='50%' width='50%')
            td
                a(href='/trainers') Тренера
                p
                img(src="/img/Notes.jpg" height='70%' width='70%')



